<f:layout name="Backend" />

<f:section name="content">

    <div id="mbox-header" class="d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
            <img src="{f:uri.resource(path: 'Icons/Extension.svg')}" height="32" width="32" class="me-2">
            <h1 class="m-0">mbox Client</h1>

            <f:link.action class="btn btn-success btn-sm ms-4">Refresh</f:link.action>
            <f:if condition="{mailbox -> f:count()} > 0">
                <f:link.action action="clearMbox" class="btn btn-warning btn-sm ms-2" id="action-clear-all-mails">Clear all mails</f:link.action>
                <f:asset.script identifier="ext-mbox-backend-js-clear-all-mails-confirmation" src="EXT:mbox/Resources/Public/Js/ClearMailsConfirmation.js" />
            </f:if>
        </div>
        <div class="text-end pe-2">
            <div>
                <strong class="me-2">Mbox file path:</strong><code class="m-0 p-0">{mboxPath}</code>
            </div>
            <div>{mailbox -> f:count()} mails found</div>
        </div>
    </div>

    <f:if condition="!{transportIsMbox}">
        <div class="alert alert-danger">
            <div><strong>Caution!</strong></div>
            Mbox is not configured as mail transport in TYPO3. Instead "{transport}" is enabled.
        </div>
    </f:if>

    <table class="table">
        <thead>
            <tr>
                <th>Sender</th>
                <th>Recipient(s)</th>
                <th>Subject</th>
                <th>Date</th>
                <th>Size</th>
                <th>A</th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{mailbox}" as="mail">
                <tr>
                    <td>{mail.from}</td>
                    <td>{mail.to}</td>
                    <td>
                        <f:link.action action="show" arguments="{messageId: mail.messageId}" class="text-primary"><strong>{mail.subject}</strong></f:link.action>
                    </td>
                    <td>{mail.date -> f:format.date(format: 'd.m.Y H:i:s')}</td>
                    <td class="text-nowrap">{mail.size -> f:format.bytes()}</td>
                    <td>
                        <f:if condition="{mail.attachments -> f:count()} > 0">
                            <img src="{f:uri.resource(path: 'Icons/paperclip-solid.svg')}" alt="This mail got attachments" style="height: 1rem; width: 1rem;" />
                        </f:if>
                    </td>
                </tr>
            </f:for>
        </tbody>
    </table>

</f:section>
