<f:layout name="Backend" />

<f:section name="content">

    <div id="mbox-header" class="d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
            <img src="{f:uri.resource(path: 'Icons/Extension.svg')}" height="32" width="32" class="me-2">
            <h1 class="m-0">mbox Client</h1>

            <f:link.action class="btn btn-success btn-sm ms-4">Refresh</f:link.action>
            <f:if condition="{total} > 0">
                <f:link.action action="clearMbox" class="btn btn-warning btn-sm ms-2" id="action-clear-all-mails">Clear all mails</f:link.action>
                <f:asset.script identifier="ext-mbox-backend-js-clear-all-mails-confirmation" src="EXT:mbox/Resources/Public/Js/ClearMailsConfirmation.js" />
            </f:if>
        </div>
        <div class="text-end pe-2">
            <div>
                <strong class="me-2">Mbox file path:</strong><code class="m-0 p-0">{mboxPath}</code>
            </div>
            <div>{total} mails found</div>
        </div>
    </div>

    <f:if condition="!{transportIsMbox}">
        <div class="card">
            <div class="card-header bg-danger text-white py-2"><strong>Wrong mail transport set</strong></div>
            <div class="card-body">
                <p class="my-0">"T3\Mbox\MboxTransport" is not configured as mail transport in TYPO3. Instead "{transport}" is set.</p>
                <p class="my-0">Please set <code class="fs-5">$GLOBALS['TYPO3_CONF_VARS']['MAIL']['transport']</code> to <code class="fw-bold fs-5">T3\Mbox\MboxTransport</code></p>
            </div>
        </div>
    </f:if>
    <f:if condition="!{mboxPath} || !{mboxExists}">
        <div class="card">
            <div class="card-header bg-danger text-white py-2"><strong>Wrong mbox path given or file not found</strong></div>
            <div class="card-body">
                <p class="my-0">The configured mbox path "<code class="fs-5">{mboxPath}</code>" is not existing!</p>
                <p class="my-0">Please create this file or check if the configured path is correct.</p>
            </div>
        </div>
    </f:if>

    <f:if condition="{mboxPath} && {mboxExists}">
        <table class="table">
            <thead>
                <tr>
                    <th>Sender</th>
                    <th>Recipient(s)</th>
                    <th>Subject</th>
                    <th>Date</th>
                    <th>Size</th>
                    <th title="Attachments">A</th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{paginator.paginatedItems}" as="mail">
                    <tr>
                        <td>{mail.from}</td>
                        <td>{mail.to}</td>
                        <td>
                            <f:link.action action="show" arguments="{messageId: mail.messageId}" class="text-primary"><strong>{mail.subject}</strong></f:link.action>
                        </td>
                        <td>{mail.date -> f:format.date(format: 'd.m.Y H:i:s')}</td>
                        <td class="text-nowrap">{mail.size -> f:format.bytes()}</td>
                        <td>
                            <f:if condition="{mail.attachments -> f:count()} > 0">
                                <img src="{f:uri.resource(path: 'Icons/paperclip-solid.svg')}" alt="This mail got attachments" title="This mail got attachments" style="height: 1rem; width: 1rem;" />
                            </f:if>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
        <f:render partial="Pagination" arguments="{pagination: pagination, paginator: paginator}" />
    </f:if>
    <f:render partial="Credits" />

</f:section>
