body {
    background: var(--pagemodule-grid-cell-bg);
    overflow: auto;
}

.typo3-version-12 {
    --token-color-neutral-4: whitesmoke;
    --token-color-neutral-80: #333333;
    --typo3-surface-bright: light-dark(var(--token-color-neutral-4), var(--token-color-neutral-80));
    --pagemodule-element-bg: var(--typo3-surface-bright);
    --pagemodule-element-border-color: color-mix(in srgb, var(--pagemodule-element-bg), currentColor 15%);
}

.module {
    background: transparent;
}
.module-body {
    padding: 0;
}

.nav.nav-tabs {
    position: relative;
    z-index: 5;
}
.typo3-version-12 .nav.nav-tabs {
    background: transparent;
}
.nav-link:not(.active) {
    border-bottom-color: var(--typo3-nav-tabs-border-color) !important;
}

.typo3-version-12 .nav-link:not(.active) {
    border-bottom-color: transparent !important;
}

.tab-content {
    position: relative;
    z-index: 8;
}

.typo3-version-12 .tab-content {
    margin-top: -1px;
    z-index: 0;
}

.mail-header-info {
    padding: 0 .5rem 1rem;
}

.mail-header-info table td {
    vertical-align: top;
}

.html-mail, .text-mail {
    background: var(    --typo3-component-bg) !important;
    min-height: 350px;
    padding: 1rem;
    border: 1px solid var(--pagemodule-element-border-color);
}

.text-mail {
    font-family: "Courier New", monospace;
    white-space: pre;
}

#mbox-header h1 {
    color: var(--module-color);
}

#mbox-toolbar {
    padding: .75rem 1rem;
    background: var(--pagemodule-element-bg);
    border-bottom: 1px solid var(--pagemodule-element-border-color);
}

.attachments {
    margin-bottom: 1rem;
}
.attachment {
    text-decoration: none !important;
    border: 1px solid #999;
    margin-right: 0.5rem;
    padding: .25rem 1rem .25rem .5rem;
    opacity: .8;
    cursor: pointer;
    min-width: 190px;
}
.attachment:hover {
    opacity: 1;
}

.credits {
    opacity: 0.7;
    font-size: .7rem;
}
.credits a {
    text-decoration: underline;
}
.credits a:hover {
    text-decoration: none;
}

.paginator {
    list-style: none;
    margin: 0;
    padding: 0;
}
.paginator li.current span {
    background: var(--pagemodule-element-bg);
    border-color: var(--pagemodule-element-border-color);
    font-weight: bold;
}
.paginator li a, .paginator li span {
    border: 1px solid var(--pagemodule-element-border-color);
    padding: .5rem 1rem;
    margin: 0 .1rem .2rem;
    display: block;
    min-width: 50px;
    text-align: center;
}
.paginator li a:hover {
    text-decoration: none;
}

.text-white {
    color: #fff !important;
}
