body {
    background: #ededed;
    overflow: auto;
}

.module {
    background: transparent;
}
.module-body {
    padding: 0;
}

a.sort-reversed,
a.sort-regular {
    text-decoration: none;
}
a.sort-reversed:hover span,
a.sort-regular:hover span {
    text-decoration: underline;
}

a.sort-regular:after,
a.sort-reversed:after {
    margin-left: .25rem;
    font-size: .7rem;
}

a.sort-regular:after {
    content: "▲";
}
a.sort-reversed:after {
    content: "▼";
}

.mail-header-info {
    padding: 0 .5rem 1rem;
}

.mail-header-info table td {
    vertical-align: top;
}

.html-mail, .text-mail {
    background: #fff;
    min-height: 350px;
    padding: 1rem;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}

.text-mail {
    font-family: "Courier New";
    white-space: pre;
}

#mbox-header h1 {
    color: #333;
}

#mbox-toolbar {
    padding: .5rem 1rem;
    background: #AAA;
    border-bottom: 1px solid #888;
}

.attachments {
    margin-bottom: 1rem;
}
.attachment {
    text-decoration: none !important;
    border: 1px solid #999;
    margin-right: 0.5rem;
    padding: .25rem 1rem .25rem .5rem;
    opacity: .8;
    cursor: pointer;
    min-width: 190px;
}
.attachment:hover {
    opacity: 1;
}

.credits {
    opacity: 0.7;
    font-size: .7rem;
}
.credits a {
    text-decoration: underline;
}
.credits a:hover {
    text-decoration: none;
}
